* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #D8D8D8;
}

header {
    background-color: #2A2A2A;
    display: flex;
    flex-direction: column;
}

main {
    background-color: #3F3F3F;
}

footer {
    background-color: #2A2A2A;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 20px;
    text-align: center;
}

h2 {
    padding: 20px;
}

h3 {
    padding: 20px;
}

footer p {
    font-size: 20px;
}

nav {
    align-self: flex-end;
    margin: 20px;
    margin-top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li a:hover {
    background-color: #D8D8D8;
    color: #2A2A2A;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

.link-logo {
    padding: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

header img {
    width: 90px;
}

header span {
    font-size: 32px;
}

.main-image {
    height: 50.8vw;
    background-image: url(../assets/images/main-image-edited.webp);
    background-position: center center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image h1 {
    padding: 0;
}

.main-card {
    background-color: #2a2a2a8a;
    height: 350px;
    width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.social-media-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.social-media-link {
    width: 60px;
    background-color: #D8D8D8;
    border-radius: 100%;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 20px;
}

.card {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    justify-content: space-evenly;
}

.card:hover {
    box-shadow: 10px 5px 5px #2A2A2A73;
    background-color: #D8D8D8;
}

.card:hover .card-title {
    color: #2A2A2A;
}

.card:hover p {
    color: #2A2A2A;
}

.card div {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}

.card p {
    text-align: center;
    width: 90%;
}

.menu-desplegable {
    margin: 20px;
    font-size: 20px;
}

.menu-desplegable select {
    font-size: 20px;
    background-color: #2A2A2A;
    border-color: #2A2A2A;
}

.about-me {
    padding: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about-me p {
    width: 740px;
    font-size: 24px;
}

.about-me img {
    width: 455px;
    height: fit-content;
    border-radius: 100%;
    margin: 50px 0;
}

ol {
    list-style-position: inside;
}

ol li {
    padding: 20px;
    font-size: 20px;
}

hr {
    width: 95%;
    margin: 40px 2.5%;
    height: 5px;
    background-color: #D8D8D8;
    border-radius: 20px;
}

section {
    padding: 20px;
}

.form-card {
    padding: 20px 80px;
    display: flex;
    justify-content: center;
}

form {
    background-color: #2a2a2a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    border-radius: 20px;
    padding: 20px 0;
}

form ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    list-style: none;
    width: 80%;
    align-items: center;
}

form ul li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

form ul li label {
    font-size: 24px;
}

form ul li input {
    border-radius: 20px;
    font-size: 24px;
    padding: 10px;
    background-color: #D8D8D8;
    color: black;
}

form ul li textarea {
    border-radius: 20px;
    font-size: 24px;
    padding: 20px;
    background-color: #D8D8D8;
    color: black;
}

form ul button {
    border-radius: 20px;
    font-size: 24px;
    padding: 10px;
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    cursor: pointer;
    width: 50%;
}

form ul button:hover {
    background-color: #D8D8D8;
    color: #1A1A1A;
}

@media (max-width: 1180px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    form {
        width: 720px;
    }

    .form-card {
        padding: 20px 20px;
    }
}

@media (max-width: 840px) {
    .card {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .main-card {
        width: 600px;
        height: 280px;
    }

    .card-container {
        padding: 0;
    }

    .card {
        width: 290px;
    }
}

@media (max-width: 756px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 660px){
    header {
        place-items: center;
    }

    nav {
        align-self: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        gap: 10px;
    }

    nav ul li {
        width: 95%;
        text-align: center;
    }

    nav ul li a {
        display: block;
        font-size: 18px;
    }
}

@media (max-width: 630px) {
    .link-logo span {
        font-size: 22px;
    }

    .link-logo img {
        width: 75px;
    }

    .main-card {
        width: 450px;
        height: 260px;
    }

    h1 {
        font-size: 22px;
    }

    .main-card p {
        font-size: 14px;
    }

    h2 {
        font-size: 20px;
    }

    .social-media-link {
        width: 50px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .card p {
        font-size: 14px;
    }

    .card .card-title {
        font-size: 16px;
    }

    .menu-desplegable {
        font-size: 16px;
    }

    .menu-desplegable select {
        font-size: 16px;
    }

    ol li {
        font-size: 18px;
    }

    form ul {
        gap: 20px;
    }

    form ul li label {
        font-size: 18px;
    }

    form ul li input {
        font-size: 18px;
    }

    form ul li textarea {
        font-size: 18px;
    }

    form ul button {
        font-size: 18px;
    }

    .about-me p {
        font-size: 18px;
    }
}

@media (max-width: 550px) {
    .link-logo span {
        font-size: 18px;
    }

    nav ul li a {
        font-size: 16px;
    }
    
    .main-card {
        width: 300px;
        height: 180px;
        gap: 10px;
    }

    h1 {
        font-size: 18px;
    }

    .main-card p {
        font-size: 8px;
    }

    .social-media-link {
        width: 36px;
    }

    .main-image {
        height: 100vw;
        background-size: cover;
    }

    .menu-desplegable {
        font-size: 14px;
    }

    .menu-desplegable select {
        font-size: 14px;
    }

    .about-me p {
        font-size: 16px;
    }

    .about-me img {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .about-me img {
        width: 280px;
    }
}