@media (max-width: 1279px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.25rem;
  }

  .link-logo {
    img {
      width: 80px;
    }

    span {
      font-size: 1.75rem;
    }
  }

  nav {
    ul {
      li {
        a {
          font-size: 1.25rem;
        }
      }
    }
  }

  .menu-desplegable {
    label {
      font-size: 1.25rem;
    }

    select {
      font-size: 1.25rem;
    }
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    div {
      height: 300px;
    }
  }

  ol {
    li {
      font-size: 1.25rem;
    }
  }

  .form-card {
    form {
      ul {
        li {
          label {
            font-size: 1.25rem;
          }

          input {
            font-size: 1.25rem;
          }

          textarea {
            font-size: 1.25rem;
          }
        }
        button {
          font-size: 1.25rem;
        }
      }
    }
  }

  .about-me {
    .about-me-card {
      padding: 40px 20px;
  
      img {
        margin: 0;
        padding: 20px;
        width: 30%;
      }
    }
  }


  footer p {
    font-size: 1rem;
  }
}
