header {
  background-color: map-get($colors, bg_secondary);
  display: flex;
  flex-direction: column;

  .open-menu-button {
    display: none;
  }
}

.transparent-header {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 96%;
}
