@media (max-width: 1180px) {
    .card-container {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .form-card {
      padding: 20px 20px;
  
      form {
        width: 720px;
      }
    }
  }
  
  @media (max-width: 840px) {
    .card {
      width: 320px;
    }
  }
  
  @media (max-width: 768px) {
    .main-card {
      width: 600px;
      height: 280px;
    }
  
    .card-container {
      padding: 0;
    }
  
    .card {
      width: 290px;
    }
  
    nav {
      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  
  @media (max-width: 660px) {
    header {
      place-items: center;
    }
  
    nav {
      align-self: center;
      width: 100%;
      display: flex;
      justify-content: center;
  
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        gap: 10px;
  
        li {
          width: 95%;
          text-align: center;
  
          a {
            display: block;
            font-size: 18px;
          }
        }
      }
    }
  }
  
  @media (max-width: 630px) {
    .link-logo {
      font-size: 22px;
  
      img {
        width: 75px;
      }
    }
  
    .main-card {
      width: 450px;
      height: 260px;
  
      p {
        font-size: 14px;
      }
    }
  
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .social-media-container {
      .social-media-link {
        width: 50px;
      }
    }
  
    .card-container {
      grid-template-columns: 1fr;
  
      .card {
        .card-title {
          font-size: 16px;
        }
  
        p {
          font-size: 14px;
        }
      }
    }
  
    .menu-desplegable {
      font-size: 16px;
  
      select {
        font-size: 16px;
      }
    }
  
    ol {
      li {
        font-size: 18px;
      }
    }
  
    .form-card {
      form {
        ul {
          gap: 20px;
  
          li {
            label {
              font-size: 18px;
            }
  
            input {
              font-size: 18px;
            }
  
            textarea {
              font-size: 18px;
            }
          }
  
          button {
            font-size: 18px;
          }
        }
      }
    }
  
    .about-me p {
      font-size: 18px;
    }
  }
  
  @media (max-width: 550px) {
    .link-logo {
      span {
        font-size: 18px;
      }
    }
  
    nav {
      ul {
        li {
          a {
            font-size: 16px;
          }
        }
      }
    }
  
    .main-card {
      width: 300px;
      height: 180px;
      gap: 10px;
  
      p {
        font-size: 8px;
      }
    }
  
    h1 {
      font-size: 18px;
    }
  
    .social-media-container {
      .social-media-link {
        width: 36px;
      }
    }
  
    .main-image {
      height: 100vw;
      background-size: cover;
    }
  
    .menu-desplegable {
      font-size: 14px;
  
      select {
        font-size: 14px;
      }
    }
  
    .about-me {
      p {
        font-size: 16px;
      }
  
      img {
        width: 300px;
      }
    }
  }
  
  @media (max-width: 400px) {
    .about-me img {
      width: 280px;
    }
  }
  