@media (max-width: 1023px) {
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.125rem;
  }

  .link-logo {
    img {
      width: 70px;
    }

    span {
      font-size: 1.625rem;
    }
  }

  .main-image {
    background-size: cover;
    height: 70vh;
  }

  .main-card {
    width: 78%;
  }

  .social-media-container {
    .social-media-link {
      width: 50px;
    }
  }

  .card-container {
    padding: 0;
  }

  .card {
    height: 800px;
    div {
      height: 250px;
    }
    .card-title {
      font-size: 1.375rem;
    }
  }

  ol {
    li {
      font-size: 1.125rem;
    }
  }

  .form-card {
    padding: 50px 80px;

    form {
      ul {
        li {
          label {
            font-size: 1.125rem;
          }

          input {
            font-size: 1.125rem;
          }
        }

        button {
          font-size: 1.125rem;
        }
      }
    }
  }
}
