.about-me {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    width: 100%;
  }

  p {
    width: 740px;
  }

  img {
    width: 455px;
    height: fit-content;
    border-radius: 100%;
    margin: 50px 0;
  }
}
