.main-image {
  // height: 50.8vw;
  height: 100vh;
  background-image: url(../assets/images/main-image-edited.webp);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;  
}
