.main-image {
  height: 100vh;
  min-height: 850px;
  background-image: url(../assets/images/main-image-edited.webp);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
